.emptyPage {
  position: relative;
  background-color: rgb(31, 30, 30);
  width: calc(100vw - 50px);
  height: 100vh;
  left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  &.sidebar {
    width: calc(100vw - 250px);
    left: 250px;
  }
}
