.intro {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
  grid-column-gap: 40px;

  img {
    @media (max-width: 980px) {
      display: none;
    }
  }
}

.description {
  display: grid;
  grid-row-gap: 15px;

  h1,
  h2 {
    font-size: 1.5em;
  }

  h1 {
    font-weight: 700;
    color: rgb(156, 85, 214);
  }

  p {
    font-size: 1em;
  }
}

.btn {
  display: flex;
  grid-column-gap: 30px;
  justify-content: flex-start;

  @media (max-width: 620px) {
    display: none;
  }

  button {
    display: flex;
    align-items: center;
    grid-column-gap: 5px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    background: rgb(73, 6, 151);
    background: linear-gradient(47deg, rgba(73, 6, 151, 1), rgba(117, 16, 164, 1), transparent)
      rgba(164, 99, 216, 1);

    transition: background-color 0.5s;

    &:hover {
      background-color: black;
      transition: background-color 0.5s;
    }
  }

  &.dark-theme button {
    color: #cccc;
  }

  // @mixin btn($color, $colorHover) {
  //   background-color: $color;
  //   &:hover {
  //     background-color: $colorHover;
  //     transition: background-color 0.2s;
  //   }
  // }

  // .twitter {
  //   @include btn(#1da1f2, #157bba);
  // }
  // .telegram {
  //   @include btn(#2ba0d9, #1979a9);
  // }
  // .linkedin {
  //   @include btn(#0a66c2, #094e93);
  // }
}
