.intro {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
  grid-column-gap: 40px;

  img {
    @media (max-width: 980px) {
      display: none;
    }
  }
}

.description {
  display: grid;
  grid-row-gap: 15px;

  h1,
  h2 {
    font-size: 1.5em;
  }

  h1 {
    font-weight: 700;
    color: #7526dd;
  }

  p {
    font-size: 1em;
  }
}

.btn {
  display: flex;
  grid-column-gap: 30px;
  justify-content: flex-start;

  @media (max-width: 620px) {
    display: none;
  }

  button {
    display: flex;
    align-items: center;
    grid-column-gap: 5px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    color: white;
  }

  &.dark-theme button {
    color: rgb(27, 27, 27);
  }

  @mixin btn($color, $colorHover) {
    background-color: $color;
    &:hover {
      background-color: $colorHover;
      transition: background-color 0.2s;
    }
  }

  .twitter {
    @include btn(#1da1f2, #157bba);
  }
  .telegram {
    @include btn(#2ba0d9, #1979a9);
  }
  .linkedin {
    @include btn(#0a66c2, #094e93);
  }
}
