.sidebar {
  z-index: 1;
  color: whitesmoke;
  position: absolute;
  top: 0;
  left: 50px;
  animation: 0.5s fadeIn;

  &.hide {
    left: -250px;
    animation: 0.5s fadeOut;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    left: -250px;
  }

  to {
    opacity: 1;
    left: 50px;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    left: 50px;
  }

  to {
    opacity: 0;
    left: -250px;
  }
}
