@use '../../styles/variables' as v;

.sidebar {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 50px;
  height: 100vh;
  width: 200px;
  animation: 0.3s fadeIn;

  h1 {
    font-size: 1rem;
    margin: 20px 0 0 25px;
  }

  &.hide {
    left: -250px;
    animation: 0.3s fadeOut;
  }
  background-color: v.$Dark-color-primary_bar;

  &.light-theme {
    color: black;
    background-color: v.$Light-color-primary_bar;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    left: -250px;
  }

  to {
    opacity: 1;
    left: 50px;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    left: 50px;
  }

  to {
    opacity: 0;
    left: -250px;
  }
}
