$Dark-color-primary_bar: #252526;
$Light-color-primary_bar: #f3f3f3;
$Light-color-text: #616161;

.sidebar {
  z-index: 1;
  color: whitesmoke;
  position: absolute;
  top: 0;
  left: 50px;
  animation: 0.5s fadeIn;

  &.hide {
    left: -250px;
    animation: 0.5s fadeOut;
  }

  &.light-theme {
    color: $Light-color-text;
    .content {
      background-color: $Light-color-primary_bar;
    }
  }
}

.content {
  position: fixed;
  background-color: $Dark-color-primary_bar;
  width: 200px;
  height: 100vh;
  h1 {
    font-size: 1rem;
    margin: 20px 0 0 25px;
  }

  &.light-theme {
    background-color: $Light-color-primary_bar;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    left: -250px;
  }

  to {
    opacity: 1;
    left: 50px;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    left: 50px;
  }

  to {
    opacity: 0;
    left: -250px;
  }
}
