@font-face {
  font-family: 'Montserrat';
  src: url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap);
}

.blog {
  margin: 40px 100px;
  @media (min-width: 1920px) {
    margin: 40px 200px;
  }
  @media (max-width: 770px) {
    margin: 30px 70px;
  }
  @media (max-width: 500px) {
    margin: 20px 40px;
  }
}
