$color-primary_bar: #252526;
$color-tabs: #2d2d2d;
$color-background: #1e1e1e;
$color-text: #cccccc;

.tabsWrapper {
  display: flex;
  width: calc(100% - 50px);
  height: 40px;
  position: absolute;
  right: 0;
  background-color: $color-primary_bar;

  &.sidebar {
    width: calc(100% - 250px);
    transition: width ease-in 0.48s;
  }
}

.linkWrapper {
  position: relative;
  display: flex;
  align-items: center;
  border-right: 1px solid grey;
  color: $color-text;
  background-color: $color-tabs;

  &.active {
    color: whitesmoke;
    background-color: $color-background;
    transition: background-color 0.1s;
  }

  .close {
    opacity: 0;
    transition: opacity 0.1s;
    &::after {
      content: '✖';
      font-size: 0.7rem;
      color: $color-text;
      position: relative;
      left: -10px;
      padding: 2px 3px;
    }
    &:hover::after {
      background-color: rgb(102, 100, 100);
      transition: background-color 0.2s;
    }
  }

  &:hover .close {
    opacity: 1;
    transition: opacity 0.2s;
  }
}
.tab {
  display: flex;
  grid-column-gap: 10px;
  align-items: center;
  padding: 0 20px 0 10px;
}
