$Dark-color-primary_bar: #252526;
$Dark-color-tabs: #2d2d2d;
$Dark-color-background: #1e1e1e;
$Dark-color-text: #cccccc;
$Light-color-primary_bar: #f3f3f3;
$Light-color-tabs: #ececec;
$Light-color-text: #616161;

.tabsWrapper {
  display: flex;
  width: calc(100% - 50px);
  height: 40px;
  position: absolute;
  right: 0;
  background-color: $Dark-color-primary_bar;
  transition: width linear 0.25s;

  &.sidebar {
    width: calc(100% - 250px);
    transition: width linear 0.25s;
  }
}

.tabsWrapper.light-theme {
  background-color: $Light-color-primary_bar;

  .linkWrapper {
    color: black;
    background-color: $Light-color-tabs;
    border-right: 1px solid white;

    &.active {
      background-color: white;
    }

    .close {
      &::after {
        color: $Light-color-text;
      }
      &:hover::after {
        background-color: rgb(218, 218, 218);
      }
    }
  }
}

.linkWrapper {
  position: relative;
  display: flex;
  align-items: center;
  border-right: 1px solid $Dark-color-background;
  color: $Dark-color-text;
  background-color: $Dark-color-tabs;

  &.active {
    color: whitesmoke;
    background-color: $Dark-color-background;
    transition: background-color 0.1s;
  }

  .close {
    opacity: 0;
    transition: opacity 0.1s;
    &::after {
      content: '✖';
      font-size: 0.7rem;
      color: $Dark-color-text;
      position: relative;
      left: -10px;
      padding: 2px 3px;
      border-radius: 5px;
    }
    &:hover::after {
      background-color: rgb(102, 100, 100);
      transition: background-color 0.2s;
    }
  }

  &:hover .close {
    opacity: 1;
    transition: opacity 0.2s;
  }
}
.tab {
  display: flex;
  grid-column-gap: 10px;
  align-items: center;
  padding: 0 20px 0 10px;
}
