.navigation {
  display: flex;
  justify-content: space-between;

  span {
    align-self: center;
    font-size: 1.5em;
  }
  button {
    cursor: pointer;
    background: none;
    border: none;
    svg {
      font-size: 3rem;
      color: #2c2b2b;
    }
  }
}
