$color-text: #cccccc;

.navigation {
  display: flex;
  justify-content: space-between;

  span {
    align-self: center;
    font-size: 1.2rem;
  }
  .btn {
    button {
      cursor: pointer;
      background: none;
      border: none;
      svg {
        font-size: 2.5rem;
        color: #2c2b2b;
      }
      &:hover {
        svg {
          color: grey;
          transition: color 0.2s;
        }
      }
    }

    &.dark-theme {
      svg {
        color: $color-text;
      }
    }
  }
}
