$Dark-color-primary_bar-active: #37373d;
$Dark-color-text: #cccccc;
$Light-color-primary_bar-active: #e4e6f1;
$Light-color-text: #616161;

@mixin hovered-item($color) {
  &:hover {
    background-color: rgba($color, 0.7);
    transition: background-color 0.1s;
  }
}

.wrapper.light-theme {
  & .head {
    @include hovered-item($Light-color-primary_bar-active);
  }
  & .projects a {
    color: $Light-color-text;
    @include hovered-item($Light-color-primary_bar-active);
    &.active {
      background-color: rgba($Light-color-primary_bar-active, 0.7);
    }
  }
}

.head {
  display: flex;
  margin: 20px 0 4px 7px;
  align-items: center;
  grid-column-gap: 5px;
  cursor: pointer;
  @include hovered-item($Dark-color-primary_bar-active);

  h2 {
    font-size: 1.2rem;
  }
}

.projects {
  display: none;
  grid-row-gap: 2px;
  a {
    display: block;
    color: $Dark-color-text;
    cursor: pointer;
    @include hovered-item($Dark-color-primary_bar-active);

    &.active {
      background-color: rgba($Dark-color-primary_bar-active, 0.7);
    }
  }
  &.drop {
    display: grid;
  }
}

.projectItm {
  display: flex;
  margin: 4px 0 4px 30px;
  grid-column-gap: 5px;
}
