@mixin hovered-item {
  &:hover {
    background-color: rgb(42, 42, 43);
    transition: background-color 0.1s;
  }
}

.explorer {
  position: fixed;
  background-color: rgb(36, 35, 35);
  height: 100vh;
  h1 {
    font-size: 17px;
    margin: 10px 0 0 20px;
  }
}

.head {
  display: flex;
  width: 200px;
  margin-top: 20px;
  padding: 4px 0 4px 7px;
  align-items: center;
  grid-column-gap: 5px;
  cursor: pointer;
  @include hovered-item;
}

.title {
  font-size: 20px;
}

.projects {
  display: none;
  a {
    display: block;
    color: whitesmoke;
    cursor: pointer;
    @include hovered-item;

    &.active {
      background-color: rgb(50, 50, 52);
    }
  }
  &.drop {
    display: block;
  }
}

.projectItm {
  display: flex;
  padding: 4px 0 4px 30px;
  grid-column-gap: 5px;
}
