$color-primary_bar: #252526;
$color-primary_bar-active: #37373d;
$color-text: #cccccc;

@mixin hovered-item {
  &:hover {
    background-color: rgba($color-primary_bar-active, 0.7);
    transition: background-color 0.1s;
  }
}

.explorer {
  position: fixed;
  background-color: $color-primary_bar;
  width: 200px;
  height: 100vh;
  h1 {
    font-size: 1rem;
    margin: 20px 0 0 25px;
  }
}

.head {
  display: flex;
  padding: 20px 0 4px 7px;
  align-items: center;
  grid-column-gap: 5px;
  cursor: pointer;
  @include hovered-item;

  h2 {
    font-size: 1.2rem;
  }
}

.projects {
  display: none;
  grid-row-gap: 2px;
  a {
    display: block;
    color: $color-text;
    cursor: pointer;
    @include hovered-item;

    &.active {
      background-color: rgba($color-primary_bar-active, 0.7);
    }
  }
  &.drop {
    display: grid;
  }
}

.projectItm {
  display: flex;
  padding: 4px 0 4px 30px;
  grid-column-gap: 5px;
}
