@use '../styles/variables' as v;

@font-face {
  font-family: 'Montserrat';
  src: url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap);
}

.App {
  display: grid;
  grid-template-columns: 50px auto;
  font-family: 'Montserrat', sans-serif;
}

.App.dark-theme {
  color: v.$Dark-color-text;
  background-color: v.$Dark-color-background;
}
