//-----------------------------------------
$color-activity_bar: #333333;
//-----------------------------------------
$Dark-color-primary_bar-active: #37373d;
$Light-color-primary_bar-active: #e4e6f1;
//-----------------------------------------
$Dark-color-primary_bar: #252526;
$Light-color-primary_bar: #f3f3f3;
//-----------------------------------------
$Dark-color-text: #cccccc;
$Light-color-text: #616161;
//-----------------------------------------
$Dark-color-tabs: #2d2d2d;
$Light-color-tabs: #ececec;
//-----------------------------------------
$Dark-color-background: #1e1e1e;
//-----------------------------------------
