@font-face {
  font-family: 'Moon Dance';
  src: url(https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap);
}

$color-text: #cccccc;

.header {
  h1 {
    cursor: pointer;
    font-family: 'Moon Dance', cursive;
    font-weight: 700;
    font-size: 2rem;
  }
  img {
    width: 60px;
  }
  @media (max-width: 500px) {
    img {
      display: none;
    }
  }
  display: flex;
  align-items: flex-end;
  grid-column-gap: 3px;
}

.header.dark-theme {
  h1 {
    color: $color-text;
  }
}
