.wrapper {
  width: 600px;
  height: 600px;

  @media (max-width: 1280px) {
    width: 400px;
    height: 400px;
  }
}

.mainMenu {
  color: black;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: space-around;
  h1 {
    font-size: 2rem;
    text-align: center;
  }
  h2,
  h4 {
    font-size: 1.2rem;
    text-align: center;
  }

  button {
    background-color: rgb(84, 190, 155);
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 10px 0;
    border: none;
    transition: background-color 0.2s;

    &:not(.crntSpeed):hover {
      cursor: pointer;
      background-color: rgb(53, 125, 101);
      transition: background-color 0.2s;
    }
  }

  .crntSpeed {
    display: inline-block;
    background-color: rgb(32, 112, 85);
    transition: background-color 0.2s;
  }
}

.settings {
  display: grid;
  grid-row-gap: 30px;
}

.speed {
  display: flex;
  align-items: center;
  grid-column-gap: 20px;
  font-size: 1.3rem;

  .btn {
    display: flex;
    grid-column-gap: 10px;

    button {
      padding: 2px 3px;
    }
  }
}

.chalenges {
  display: flex;
  grid-column-gap: 20px;
  h3 {
    font-size: 1.3rem;
  }
  label {
    font-size: 1.1rem;
  }

  fieldset {
    display: grid;
    grid-row-gap: 10px;
  }
}
