.wrapper {
  width: 600px;
  height: 600px;

  @media (max-width: 1280px) {
    width: 400px;
    height: 400px;
  }
}

.mainMenu {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-row-gap: 70px;
  h1 {
    font-size: 2rem;
    text-align: center;
  }
  h2 {
    font-size: 1.2rem;
    text-align: center;
  }
  button {
    background-color: rgb(84, 190, 155);
    border: 1px solid aquamarine;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 10px 0;

    &:hover {
      cursor: pointer;
      color: grey;
      border: 1px solid grey;
      transition: color, border 0.2s;
    }
  }
}
