.wrapper {
  display: grid;
  margin: 60px auto 20px;
  align-content: center;
}

.gameField {
  border: 1px solid rgb(72, 182, 145);
  background: linear-gradient(
    45deg,
    rgba(142, 130, 150, 1) 0%,
    rgba(124, 160, 126, 1) 43%,
    rgba(121, 146, 143, 1) 100%
  );
}

@keyframes gameOverShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.gameOver {
  animation: gameOverShow 1s;
  display: grid;
  grid-row-gap: 20px;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 2.4rem;
  border-radius: 10px;
  padding: 20px 30px;
  background-color: grey;
  cursor: context-menu;

  button {
    margin: auto;
    width: fit-content;
    background-color: grey;
    padding: 3px 7px;
    border: 2px solid;
    font-size: 1rem;
    &:hover {
      cursor: pointer;
      color: rgb(201, 201, 201);
      border-color: black;
      transition: background-color, color 0.2s;
    }
  }
}
