$color-activity_bar: #333333;

.bar {
  z-index: 2;
  position: sticky;
  top: 0;
  height: 100vh;
  background-color: $color-activity_bar;
}

.list {
  display: grid;
  padding-top: 20px;
  grid-row-gap: 15px;

  button {
    background: none;
    border: none;
    cursor: pointer;
    border-left: 2px solid $color-activity_bar;

    svg {
      color: grey;
      font-size: 2rem;
      transition: color 0.2s;
    }

    &:hover {
      svg {
        color: whitesmoke;
        transition: color 0.2s;
      }
    }

    &.active {
      border-left: 2px solid white;
    }
  }
}
