@use '../../styles/variables' as v;

.themeSettings.light-theme {
  background-color: #dddcdc;
  border: 1px solid #8f8e8e;

  a {
    color: black;
    &:hover {
      background-color: #d1d3dd;
    }
  }
}

.themeSettings {
  visibility: hidden;
  opacity: 0;
  width: 200px;
  padding: 10px 0;
  background-color: #222222;
  position: relative;
  left: 40px;
  bottom: 10px;
  display: flex;
  justify-content: flex-start;
  border-radius: 5px;
  border: 1px solid #181818;

  &.show {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s;
  }

  a {
    width: 100%;
    padding: 5px 0 5px 20px;
    color: v.$Dark-color-text;
    transition: background-color 0.1s;

    &:hover {
      background-color: v.$Dark-color-primary_bar-active;
      cursor: pointer;
      transition: background-color 0.1s;
    }
  }
}
